/* Seteamos font-size base a 10px (62.5% de 16px) */
html {
    font-size: 62.5%;
    /* 1rem = 10px */
    /* 1.6rem = 16px */}
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.titulo {
    text-align: center;
    margin: 2rem 0 1rem 0;
}

.subtitulo {

    margin: 0 0 2rem 0;
}

.col {
    text-align: left;
    margin: 1em 0 0 8rem;
}

.colr{
    text-align: right;
    margin: 0em 20rem 0 0;
}
.contenedor {

    width: 28rem;
    height: 35rem;
    background-color: #dedede;
    float: left;
    margin: 1rem 0 0 5rem;
    /*Declarar flexbox para el contenedor*/
    display: flex;
}

.items {
    background-color: #72c4ce;
    width: 7em;
    height: 10rem;
    margin: 0.5rem;
    text-align: center;
    line-height: 6.25rem;
    font-size: 1.375rem;
}

/*Direccion flexbox*/
.c1 {
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
}

.c2 {
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: column-reverse wrap-reverse;
}

.c3 {
    /*flex-direction: row;
    flex-wrap: nowrap;*/
    flex-flow: row wrap;
}

.c4 {
    /*flex-direction: column;
    flex-wrap: nowrap;*/
    flex-flow: row-reverse wrap-reverse;
}